* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}
.logo {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: solid 1px black;
  display: block;
  width: 100%;
  background-color: white;
  float: left;
}
.logo img {
  float: right;
  border-bottom: 5px solid black;
  transition: border 0.2s;
}
.logo img:hover {
  border-bottom: 5px solid yellow;
}
.navbar {
  margin-top: 4vw;
  position: sticky;
  height: 3.4vw;
  width: 100%;
}
.logo div {
  background-color: black;
}
a#login {
  background-color: yellow;
  color: black;
  font-weight: 900;
  float: left;
  border-right: 1px solid rgb(255, 255, 255);
}
a#login:hover {
  box-shadow: inset 0px -5px black;
  border: none;
  /*juytrds*/
}
.navbar a {
  border-left: 1px solid rgb(255, 255, 255);
  padding: 0.9vw 1.9vw 0.9vw 1.9vw;
  float: right;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  transition: all 0.5s;
}
.navbar a:hover {
  color: yellow;
  box-shadow: inset 0px -5px yellow;
}
ul {
  overflow: hidden;
  list-style-type: none;
  background-color: black;
}
a#home {
  box-shadow: inset 0px -5px yellow;
  color: yellow;
  font-weight: 600;
}
.shoar {
  background-image: url(shoar.jpg);
  margin-top: -3vh;
  height: 41.5vw;
  background-size: cover;
}
